async-timeout==4.0.2
awscli-local==0.18
black==21.9b0
boto3==1.20.46
botocore==1.23.46
click==8.0.3
jmespath==0.10.0
localstack-client==1.31
milter==0.8.18
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
protobuf==3.19.4
python-dateutil==2.8.2
python-libmilter==1.0.3
redis==4.4.2
regex==2021.10.21
s3transfer==0.5.0
six==1.16.0
tomli==1.2.1
typing-extensions==3.10.0.2
urllib3==1.26.8
